
@{
}


<div class="container my-5"> 

<div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-danger">🚫 Accesso negado 🚫</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Não tem permissões para visualizar esta página.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Por favor contacte os administradores Paulo Barros e/ou Pedro Conceição.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center"><a href="@Url.Action("Index", "Home")">Voltar para a página inicial</a></p>
        </div>
    </div>
</div>
